<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: blue;
        }
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        ul{
            display: flex;
            gap: 5rem;
        }
        .container{
            width: 80%;
            margin: auto;
        }
        .section-container{
            margin-top: 2rem;
        }
        .section-container h2{
            color: red;
            text-align: center;
        }
        .section-mapped-data{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title><%= title %></title>
</head>