<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %>
    <section class="container">
        <h2>Oops, wrong path</h2>
    </section>
    <div class="container">
        <%- include('../partials/footer.ejs') %>
     </div>
</body>
</html>