<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %>
    <section class="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia magnam sed maxime! Odit nam exercitationem aliquid tempore quaerat illo accusantium.</p>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>
</html>